.post-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    border:1px solid lightgray;
    width:50vw;
    margin:10px 0px 10px 0px;
    border-radius: 4px;
}
.username-container {
    padding:5px;
    border-bottom:1px solid lightgray;
    background-color: whitesmoke; 
}

.username-container img {
          width:30px;
          height:30px;

}
.username-container span {
    position:relative;
    top:-10px;
    left:10px;
    font-size: 20px;
    color:darkblue;
}

.post-data-container {
    padding:10px;
}
.post-data-container h1{
     font-size: 18px;
     color:darkblue;
}

.post-data-container p {
    font-size:14px;
    margin-top:5px;
}

.comment-container {
    padding:10px;
    border-top:1px solid lightgray;
}

.comment {
 border:none;
 background-color: white;
}
.comment-container span {
    position:relative;
    top:-6px;
    font-size:15px;
    font-weight:700;
}

.comment-container img {
    background-color: white;
    height:20px;
    width:20px;
}

.comment-data {
  border:1px solid lightgray;
  margin-top:5px;
  border-radius:5px;
  padding:10px;
  
}

.comment-data h1 {
    font-size:16px;
    color:indigo;
}
.comment-data p{
    font-size:14px;
    margin-top:5px;
}
.userdata {
    display:flex;
    width:60vw;
    flex-direction: column;
    justify-content: center;
    align-self:center;
    align-content: center;
    border:1px solid lightgrey;
    margin-top: 10px;
}
.userbyid-container span{
    position:relative;
    top:-10px;
    left:20px;
    color:darkblue;
    font-size: 18px;
}

.about-user {
    display:flex;
    justify-content: space-between;
    padding:10px;

}
.userbyid-container {
    display:flex;
    justify-content: space-between;
    padding:5px;
    background-color: whitesmoke;
}
.userbyid-container img {
    width:30px;
    height:30px;
}
.userbyid-container p {
    position: relative;
    top: -29px;
    left: 50px;
    font-size: 20px;
    color: darkblue;
}

.user-title h2{
    color:darkblue;
    font-size: 18px;
    padding:5px;
}
.title-data p {
    padding:5px;
}

.error-page h1{
     font-size:30px;
     color:#000;
}
a {
    text-decoration:none;
}
.post-render-data {
    display:flex;
    justify-content: space-between;
    background-color: whitesmoke;
    border:1px solid lightgrey;
}

@media only screen and (max-width: 600px) {
    .container {
        
        width:70vw;
       
    }
    .userdata {
        width:80vw;
    }
    .user-title {
        width:30vw;
    } 
  }